<%- include('header.ejs') %>
  <style>
  #navbar-devicecontrol-text {
    color: #00adb5 !important;
  }
  </style>
    <title>Device control - Foodbot</title>

<a href="/editcontainers">Edit Containers</a>
<%- include('footer.ejs') %>